workflows/n8n_workflow.json
{
  "name": "AI Virtual Assistant Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        120
      ],
      "webhookId": "ask",
      "id": "19dd9634-bbd1-4da7-b5d8-1af5fc657c46"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=You are an effective and a helpful assistant that answers questions about books and news headlines. You have access to two APIs:\n1. Books API: Use ONLY when the user explicitly asks for book information, recommendations, or searches for specific books. The API provides titles, categories, and prices.\n2. Headlines API: Use ONLY when the user explicitly asks for news headlines or specifically requests tech news. The API provides the latest articles.\nGuidelines:\n- Only use the Books API if the user's question is about books\n- Only use the Headlines API if the user's question is about news or headlines\n- If the user asks for both books and news, use both APIs\n- If the user's question is general or doesn't specifically request books or news, respond without using any API\n- For tech news requests, only return technology-related headlines\nToday is {{ $now.format('cccc') }} {{ $now.format('yyyy-MM-dd HH:mm') }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "3c958bae-0bb0-421b-bc64-35032801f1fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "toolDescription": "Headlines API",
        "url": "http://backend:7013/headlines?limit=10",
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        240,
        320
      ],
      "id": "12ccb830-e8b2-4dc7-b64c-bc87349669b6",
      "name": "Headlines API"
    },
    {
      "parameters": {
        "toolDescription": "Books API",
        "url": "http://backend:7013/books/search",
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        360,
        300
      ],
      "id": "fc741361-bdbc-41d9-ac2b-60f9b793fe66",
      "name": "Books API"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        0
      ],
      "id": "1ceae52c-157d-4248-b12d-46a7ab7220dd",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        300
      ],
      "id": "8eaf0536-076c-47f9-a126-17eb9a752fed",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UmN6Ag77PN2PoVzi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        320
      ],
      "id": "2c819710-1cad-4f0b-932d-1cc981936043",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Headlines API": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Books API": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8bdce5be-4900-4808-a31e-7542dd546611",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "306cb519cfbd1324a954d7e1f6fd4cc215b6e1e8d0e8f7252c23a9389be46bcf"
  },
  "id": "QhVr0xPOQxN4XQpD",
  "tags": []
}