workflows/n8n_workflow.json
{
  "name": "AI Virtual Assistant Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1400,
        1040
      ],
      "webhookId": "ask",
      "id": "314f6708-5878-47eb-ae42-b0914dbc9900"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful assistant that answers questions about books and news headlines. You have access to two APIs:\\n\\n1. Books API: Use this API when the user's query contains ANY of these words:\\n   - book\\n   - price\\n   - category\\n   - title\\n  - under\\n   - recommend\\n   - search\\n   - find.\\n   The Books API provides titles, categories, image url, and prices.\\n\\n2. Headlines API: Use this API when the user's query contains ANY of these words:\\n  -show\\n  - tech\\n   - news\\n   - headlines\\n   - articles\\n  - trending\\n  - update\\n   - latest.\\n   The Headlines API provides titles, scores, and url.\\n\\nToday is {{ $now.format('cccc') }} {{ $now.format('yyyy-MM-dd HH:mm') }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1640,
        920
      ],
      "id": "db26dc15-048f-47b7-bd5d-4527cb91d0aa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "toolDescription": "Headlines API",
        "url": "http://backend:7013/headlines",
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1880,
        1240
      ],
      "id": "04ffc6d1-be40-4199-955e-0f22c371cbd2",
      "name": "Headlines API"
    },
    {
      "parameters": {
        "toolDescription": "Books API",
        "url": "http://backend:7013/books/search",
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2000,
        1220
      ],
      "id": "1153f01a-84f3-4e5f-b515-f5663c14be07",
      "name": "Books API"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2060,
        920
      ],
      "id": "ee90b751-95ba-4be6-9870-03efb7cb3b28",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-pro-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1560,
        1220
      ],
      "id": "469602d6-11a0-46ed-a71c-5ab1ef33e707",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bB44U9t6iboitJ1b",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1740,
        1240
      ],
      "id": "ea5139c2-b88b-4782-98b9-9ae17e72d918",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "1mwImy3E4Pwvz6WV",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Headlines API": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Books API": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4ff5b5c-ede3-47ee-843b-45c26b95fd8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "306cb519cfbd1324a954d7e1f6fd4cc215b6e1e8d0e8f7252c23a9389be46bcf"
  },
  "id": "EHlWi2MBsusHcs7P",
  "tags": []
}